/* Media Bar Plugin */
/* 
@media only screen and (min-width: 767px) {
  #slides-container {
      width: 90%;
      border-radius: unset;
  }
} 
*/

/* Rockfin skin only. otherwise use above */
@media only screen and (min-width: 767px) {
	#slides-container {
		/* adjust width based on collapsed sidebar */
		width: calc(100% - 50px);
		margin-left: 50px;
	}
}


.detail-button {
	background-color: var(--c-foreground-stark);
	color: var(--c-text);
}

.play-button {
	background-color: var(--c-foreground);
	color: var(--c-text);
}

.play-button,
.detail-button {
	/* border: solid 1px var(--c-border); */
	border: none;
	border-radius: var(--r-medium);
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s ease;
	-webkit-tap-highlight-color: var(--hsl-active);
}