/* Media Bar Plugin */

@media only screen and (min-width: 767px) {
	#slides-container {
		/* adjust width based on collapsed sidebar */
		width: calc(100% - 50px);
		margin-left: 50px;
	}
}

.slide>.button-container>.detail-button {
	background-color: var(--c-foreground-stark) !important;
}

.slide>.button-container>.play-button {
	background-color: var(--c-foreground) !important;
}

.slide>.button-container>.play-button,
.slide>.button-container>.detail-button {
	color: var(--c-text) !important;
	border: solid 1px var(--c-border);
	border-radius: var(--r-medium);
	font-size: 14px;
	transition: all 0.3s ease;
}

.slide>.button-container>.play-button:after,
.slide>.button-container>.detail-button:after {
	display: none;
}

#slides-container .backdrop.animate {
	animation: frostedGlass 0.8s ease-in-out;
}