/* Adjusted Card Sizes */
:root {
    /* default */
    --card-width: min(50vw, 200px);
    --card-padding: 5px;

    --card-width-xs: min(50vw, 200px);
    --card-width-sm: min(38vw, 190px);
    --card-width-md: min(30vw, 180px);
    --card-width-lg: min(23vw, 170px);
    --card-width-xl: min(18vw, 150px);
    --card-width-xxl: min(13vw, 130px);
}

/* Default Card Sizes */
.card[data-mediatype] {
    width: var(--card-width) !important;
    /* padding: var(--card-padding) !important; */
}

.card.overflowBackdropCard[data-mediatype],
.card.backdropCard[data-mediatype] {
    width: calc(var(--card-width) * 1.8) !important;
}

.card.squareCard[data-mediatype] {
    width: calc(var(--card-width) * 1.2) !important;
}

@media (min-width: 600px) {
    :root {
        --card-width: var(--card-width-sm);
    }
}

@media (min-width: 768px) {
    :root {
        --card-width: var(--card-width-md);
    }
}

@media (min-width: 992px) {
    :root {
        --card-width: var(--card-width-lg);
    }
}

@media (min-width: 1200px) {
    :root {
        --card-width: var(--card-width-xl);
    }
}

@media (min-width: 1400px) {
    :root {
        --card-width: var(--card-width-xxl);
    }
}